#if (!$action.actionErrors.isEmpty())
	<div id="dbmsEdit_errMsg" class="gpErrMsg">
		#foreach($error in $action.actionErrors)
			<span>$action.getText($error)</span><br>
		#end
	</div>
#end

<div class="sp_configItemView">

	<div class="field-group">
		<label for="dbmsView_type">
			$action.getText('greenpepper.install.installtypelabel')
		</label>
		<select id="dbmsView_type" class="select" disabled>
			<option selected>
				#if($action.isCustomSetup())
					$action.getText('greenpepper.install.custom')
				#else
					$action.getText('greenpepper.install.quick')
				#end
			</option>
		</select>
	</div>

	<div class="field-group">
		<label for="dbms">$action.getText('greenpepper.install.dbms')</label>
		#if($action.isCustomSetup())
			<select id="dbms" class="select" disabled>
				#foreach($supportedDatabase in $action.databases)
					<option value="$supportedDatabase" class="sp_configSelectOption"
						#if($!action.databaseType && $supportedDatabase.name().equals($!action.databaseType)) selected #end>
						$supportedDatabase
					</option>
				#end
			</select>
		#else
			<select id="dbms" class="select" disabled>
				<option selected>HSQL</option>
			</select>
		#end
	</div>

	#if($action.isCustomSetup())

		<div class="field-group">
			<label for="dbhost_txtfield">
				$action.getText('greenpepper.install.dbhost')
			</label>
			<input id="dbhost_txtfield" class="text medium-long-field" value="$!action.host" disabled/>
		</div>
		<div class="field-group">
			<label for="dbport_txtfield">
				$action.getText('greenpepper.install.dbport')
			</label>
			<input id="dbport_txtfield" class="text medium-long-field" value="$!action.port" disabled/>
		</div>
		<div class="field-group">
			<label for="dbname_txtfield">
				$action.getText('greenpepper.install.dbname')
			</label>
			<input id="dbname_txtfield" class="text medium-long-field" value="$!action.database" disabled/>
		</div>
		<div class="field-group">
			<label for="dbuser_txtfield">
				$action.getText('greenpepper.install.dbuser')
			</label>
			<input id="dbuser_txtfield" class="text medium-long-field" value="$!action.username" disabled/>
		</div>
		<div class="field-group">
			<label for="dbpassword_txtfield">
				$action.getText('greenpepper.install.dbpassword')
			</label>
			<input id="dbpassword_txtfield" class="text medium-long-field" type="password" value="$!action.password" disabled/>
		</div>
	#end