#if (!$action.actionErrors.isEmpty())
	<div id="dbmsEdit_errMsg" class="aui-message aui-message-error">
		<ul>
		#foreach($error in $action.actionErrors)
			<li>$action.getText($error)</li>
		#end
		</ul>
	</div>
#end
<div class="sp_configItemView">
	<div class="field-group">
		<label for="dbms">$action.getText('greenpepper.install.dbms')</label>
		#if($action.isCustomSetup())
			<select id="dbms" class="select">
				#foreach($supportedDatabase in $action.databases)
					<option value="$supportedDatabase" class="sp_configSelectOption"
						#if($!action.databaseType && $supportedDatabase.name().equals($!action.databaseType)) selected #end>
						$supportedDatabase
					</option>
				#end
			</select>
		#else
			<select id="dbms" class="select" disabled>
				<option selected>HSQL</option>
			</select>
		#end
	</div>
	#if($action.isCustomSetup())
		<div class="aui-message">
			$action.getText('greenpepper.install.save.hint')
		</div>
		<div class="field-group">
			<label for="dbname_txtfield">
				$action.getText('greenpepper.install.dbname') <span class="aui-icon icon-required">(required)</span>
			</label>
			<input id="dbname_txtfield" class="text medium-long-field" value="$!action.database"/>
			<div class="description">
				<p>$action.getText('greenpepper.install.dbms.mandatorytxt')</p>
			</div>
		</div>
		<div class="field-group">
			<label for="dbhost_txtfield">
				$action.getText('greenpepper.install.dbhost')
			</label>
			<input id="dbhost_txtfield" class="text medium-long-field" value="$!action.host"/>
		</div>
		<div class="field-group">
			<label for="dbport_txtfield">
				$action.getText('greenpepper.install.dbport')
			</label>
			<input id="dbport_txtfield" class="text medium-long-field" value="$!action.port"/>
		</div>
		<div class="field-group">
			<label for="dbuser_txtfield">
				$action.getText('greenpepper.install.dbuser')
			</label>
			<input id="dbuser_txtfield" class="text medium-long-field" value="$!action.username"/>
		</div>
		<div class="field-group">
			<label for="dbpassword_txtfield">
				$action.getText('greenpepper.install.dbpassword')
			</label>
			<input id="dbpassword_txtfield" class="text medium-long-field" type="password" value="$!action.password"/>
		</div>
	#end

	<div id="testConnection_display"></div>
	<div class="buttons-container">
       	<div class="buttons" style="float: right;">
		#if($action.isCustomSetup())
			<button id="dbmsEdit_updateCustom" class="aui-button"  type="button"
					onclick="gpProperties.updateCustomDbmsConfiguration();"
			>
				$action.getText('greenpepper.configuration.save')
			</button>
		#else
			<button id="dbmsEdit_updateQuick" class="aui-button" type="button"
					onclick="gpProperties.updateQuickDbmsConfiguration();">
				$action.getText('greenpepper.configuration.save')
			</button>
		#end
		
		<button id="dbmsEdit_cancel" class="aui-button aui-button-link" type="reset"
				onclick="gpProperties.getDbmsConfigPane();">
			$action.getText('greenpepper.configuration.cancel')
		</button>

		#if($action.isCustomSetup())
			<button id="dbsmEdit_test" class="aui-button aui-button-subtle" type="button"
					onclick="gpProperties.testDbmsConnection();">$action.getText('greenpepper.configuration.testconnection')
			</button>
		#end
		</div>
	</div>
</div>